.footer {
  width: 100%;
  background-color: var(--darkgrey);
}

.footer h6,
p {
  color: var(--lightgrey);
  font-size: 14px;
  padding: 0.4rem 0;
}

.footer .content {
  max-width: 1240px;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.footer-bottom {
  max-width: 1240px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
}
