@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: #fefeff;
}

.viie {
}

backgroundImage {
  height: 70%;
  opacity: 80%;
}

.box {
  margin: 35px;
  position: relative;
  width: 380px;
  height: 550px;
  background: #ffffff;
  /* Box Border and Shadow */
  box-shadow: 1px -1px 3px black;
  border-radius: 3px;
  overflow: hidden;
}

.form {
  border-radius: 1px;
  background: #fefeff;
  z-index: 10;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
}

img {
  opacity: 10%;
  padding: 40px 30px;
  height: 450px;
}

.banner {
  background-color: #6b0707;
  width: 1440px;
  height: 44px;
}

.form h1 {
  position: relative;
  text-align: center;
}

.inputBox {
  position: relative;
  width: 300px;
  margin-top: 35px;
}

.inputBox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  border: none;
  outline: none;
  color: #23242a;
  font-size: 1em;
}

.inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #23242a;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
}

.links {
  display: flex;
}

.links a {
  margin: 10px 0;
  font-size: 0.75em;
}

.input {
  border: 1px solid Black;
}
